<!DOCTYPE html>
{% load static %}
<html lang="en">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js"></script>-->

<head>
    <meta charset="UTF-8">
    <title>{{ ticker }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'ex/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'ex/css/main_table.css' %}">
    <link rel="stylesheet" href="{% static 'ex/css/form.css' %}">
    <link rel="stylesheet" href="{% static 'ex/css/order_book.css' %}">


    <script>
        let socket_protocol;

        if (location.protocol === 'https:') {
            socket_protocol = 'wss';
        } else {
            socket_protocol = 'ws';
        }
    </script>
    <!-- Стили CSS -->


    <style>

        h3 {
            margin-bottom: 10px;
            font-size: 28px;
            color: #333;
            text-align: center; /* Центрируем заголовки */
        }

        .ob-td {
         //width: 3px;
        }

        th {
            background-color: #f2f2f2;
        }
        tr {
            border: 1px solid #333;
        }

    </style>
</head>
<body>
{% include 'includes/header.html' %}


<!-- Основная часть страницы -->
<table class="MainTable" >
<tr>
    <td class="main-td main-chart-td">
        <div class="main-td-div">
            <canvas id="chart" style="width: 100%"></canvas>
        </div>
    </td>

    <td class="main-td main-ob-td">
            <div>
                <table id="orderBookContainer"></table>
            </div>
    </td>



    <td class="main-td">
        {% if not user.is_authenticated %}
        <div style="text-align: center">
            Чтобы начать торговать <a href="{% url 'register' %}" style="color:black"><b>зарегестрируйтесь</b></a>
            или <a href="{% url 'login' %}" style="color:black"><b>авторизируйтесь</b></a>.
        </div>
        {% else %}
        <div class="main-td-div" style="text-align:center">
        <table id="orderFormsTable">
            <tr><td><h3>Рыночная заявка</h3></td></tr>
            <tr>
                <td>
                    <form method="post">
                        {% csrf_token %}
                        {{ market_order_form }}
                        <!-- Кнопки для покупки и продажи по рыночной цене -->
                        <button type="button" class="buy-button" name="submit_button" value="buy_market_btn">BUY MARKET</button>
                        <button type="button" class="sell-button" name="submit_button" value="sell_market_btn">SELL MARKET</button>
                    </form>
                </td>
            </tr>
            <tr><td><h3>Лимитная заявка</h3></td></tr>
            <tr>
                <td>
                    <form>
                        {% csrf_token %}
                        {{ limit_order_form }}
                        <!-- Кнопки для покупки и продажи по лимитной цене -->
                        <button type="button" class="buy-button" name="submit_button" value="buy_limit_btn">BUY LIMIT</button>
                        <button type="button" class="sell-button" name="submit_button" value="sell_limit_btn">SELL LIMIT</button>
                    </form>
                </td>
            </tr>
        </table>
        </div>
    </td>
    {% endif %}
</tr>
    {% if user.is_authenticated %}
    <tr>
        <td>
            <table id="depoTable" style="width: 100%; text-align:center">
                <thead>
                <tr>
                    <th>Текущий депозит</th>
                    <th>Свободые средства</th>
                </tr>
                </thead>
                 <tbody>

                 </tbody>
            </table>
        </td>
    </tr>


    <tr>
        <td>
        <table id="positionsTable" style="width:100%; text-align:center">
            <thead>
            <tr>
                <th>Тикер</th>
                <th>Средняя цена</th>
                <th>Объем</th>
                <th>Направление</th>
                <th>PnL</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        </td>
    </tr>

    <tr>
        <td>
        <table id="ordersTable" style="width:100%; text-align:center">
            <thead>
            <tr>
                <th>Тикер</th>
                <th>Цена</th>
                <th>Объем</th>
                <th>Исполненно</th>
                <th>Направление</th>
                <th>Статус</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        </td>
    </tr>
    {% endif %}
</table>
</body>
</html>

<script>
    var chart_price = {{ price|safe }};
    var ticker = '{{ ticker }}';
    var datetime = {{ datetime|safe }};
</script>

<script src="{% static 'ex/js/chart.js' %}"></script>

<script src="{% static 'ex/js/order_book.js' %}"></script>

<script>
    async function fetchData()
    {
        console.log('fetching data')
        loadChart()
        fetchOrderBook()
        {% if user.is_authenticated %}
            fetchDepo()
            fetchPositions()
            fetchOrders()
        {% endif %}
    }
    window.onload = fetchData;
</script>


<script>
<!--  Добавление событя на нажатие кнопки покупки\продажи  -->
       document.querySelectorAll('button[name="submit_button"]').forEach(button => {
        button.addEventListener('click', function(e)
        {
            form_data = {}
            if (button.value.includes('market')){
                form_data['quantity']=document.getElementById("id_market_order_quantity").value
            };
            if (button.value.includes('limit')){
                form_data['quantity']= document.getElementById("id_limit_order_quantity").value
                form_data['price']= document.getElementById("id_limit_order_price").value
            };

            socket.send(JSON.stringify(
            {
                'type': 'new_order',
                'ticker': '{{ ticker }}',
                'user': '{{ user.pk }}',
                'button': button.value,
                'form': form_data,
            }
            ));
        })
    })
   </script>


<script>
    let chart;
    //<!--    {% if user.is_authenticated %} 127.0.0.1:8000  myex-petproject1313.loca.lt/ -->
    console.log(socket_protocol + '://' + 'localhost' + '/ws/');
    let socket = new WebSocket(socket_protocol + '://' + '127.0.0.1:8000' + '/ws/');

    socket.onopen = function(e) {
       console.log('Connection established');
    };

    socket.onmessage = async function(event) {
        const message = JSON.parse(event.data);
        console.log(message)
        if (message.type === 'update_data') {
            await updateChart(message.price, message.datetime, chart);
            };
        if (message.type === 'order_book_update') {
               await updateOrderBook();
            };

        if (message.type === 'depo_update') {
            await fetchDepo()
            };

        if (message.type === 'positions_update') {
            await fetchPositions()
            };
        if (message.type === 'orders_update') {
            await fetchOrders()
            };
    };
<!--    {% endif %}-->






</script>

<script>
    let haveValue = false
    async function fetchDepo() {
        const tbody = document.getElementById('depoTable').getElementsByTagName('tbody')[0];
        const response = await fetch('/api/user/{{ user.pk }}/depo/');
        const data = await response.json();
        // Обновление существующих или добавление новых данных
            if (haveValue) {
            row = tbody.getElementsByTagName('tr')[0];
                row.cells[0].innerText = data.current_equity;
                row.cells[1].innerText = data.free_equity;
            } else {
                // Если позиции нет, создаем новую строку
                const row = document.createElement('tr');
                row.innerHTML = `
                    <td>${data.current_equity}</td>
                    <td>${data.free_equity}</td>
                `;
                tbody.appendChild(row);
                haveValue = true;
            }
        };
</script>


<script>
    async function fetchPositions() {
        const tbody = document.getElementById('positionsTable').getElementsByTagName('tbody')[0];
        const response = await fetch('/api/user/{{ user.pk }}/positions/');
        const data = await response.json();

        const currentPositions = {}; // Объект для хранения текущих позиций

        // Заполняем текущие позиции для сравнения
        Array.from(tbody.children).forEach(row => {
            const symbol = row.cells[0].innerText; // Получаем символ позиции
            currentPositions[symbol] = row; // Сохраняем текущую строку
        });

        // Обновление существующих или добавление новых данных
        data.positions.forEach(position => {
            const direction = position.quantity > 0 ? 'Покупка' : 'Продажа'; // Логика определения направления

            if (currentPositions[position.symbol]) {
                // Если позиция уже существует, обновляем её
                const row = currentPositions[position.symbol];
                row.cells[1].innerText = position.average_price.toFixed(2);
                row.cells[2].innerText = position.quantity;
                row.cells[3].innerText = direction;
                row.cells[4].innerText = position.pnl;
            } else {
                // Если позиции нет, создаем новую строку
                const row = document.createElement('tr');
                row.innerHTML = `
                    <td>${position.symbol}</td>
                    <td>${position.average_price.toFixed(2)}</td>
                    <td>${position.quantity}</td>
                    <td>${direction}</td>
                    <td>${position.pnl}</td>
                `;
                tbody.appendChild(row);
            }
        });

        // Удаление строк, которые больше не существуют
        for (let symbol in currentPositions) {
            if (!data.positions.some(position => position.symbol === symbol)) {
                tbody.removeChild(currentPositions[symbol]);
            }
        }
    }
</script>


<script>
    function setEventOnButtons() {
        document.querySelectorAll('button[name="closeOrder-button"]').forEach(button => {
        button.addEventListener('click', function(e) {
            console.log('closebtn')
            socket.send(JSON.stringify({
                'type': 'close_order',
                'order_pk': button.value,
            }));
        });
    });
    }
</script>


<script>
async function fetchOrders() {
    const tbody = document.getElementById('ordersTable').getElementsByTagName('tbody')[0];
    const response = await fetch('/api/user/{{ user.pk }}/orders/');
    const data = await response.json();

    const currentOrders = {}; // Объект для хранения текущих заказов

    // Заполняем текущие заказы для сравнения
    Array.from(tbody.children).forEach(row => {
        //const orderId = row.querySelector('button').value; // Получаем идентификатор заказа
        orderId = row.cells[0].textContent



        currentOrders[orderId] = row; // Сохраняем текущую строку для обновления
    });

    data.orders.forEach(order => {

        const orderId = order.id;
        var price = ''
                    if (order.order_type == 'LIMIT') {
                    price = order.price.toFixed(0)
                    }
        // Проверяем, есть ли такой заказ в текущем списке
        if (currentOrders[orderId]) {
            // Обновляем существующую строку
            const row = currentOrders[orderId];

            row.innerHTML = `
                <td name="idd" style="display: none">${order.id}</td>
                <td>${order.symbol}</td>
                <td>${price}</td>
                <td>${order.initial_quantity}</td>
                <td>${order.quantity - order.quantity}</td>
                <td>${order.direction}</td>
                <td>${order.status}</td>
                ${order.status === 'PLACED' ?
                    `<td><button type="button" name="closeOrder-button" value="${order.id}">Отменить</button></td>`
                    : '<td></td>'
                }
            `;
        } else {
            // Создаем новую строку, если заказа нет в текущем списке
            const row = document.createElement('tr');
            row.innerHTML = `
                <td name="idd" style="display: none">${order.id}</td>
                <td>${order.symbol}</td>
                <td>${price}</td>
                <td>${order.initial_quantity}</td>
                <td>${order.initial_quantity - order.quantity}</td>
                <td>${order.direction}</td>
                <td>${order.status}</td>
                ${order.status === 'PLACED' ?
                    `<td><button type="button" name="closeOrder-button" value="${order.id}">Отменить</button></td>`
                    : '<td></td>'
                }
            `;
            tbody.appendChild(row);
        }
    });

    // (Опционально) Удалим заказы, которые больше не актуальны
    for (const orderId in currentOrders) {
        if (!data.orders.find(order => order.id === parseInt(orderId))) {
            tbody.removeChild(currentOrders[orderId]);
        }
    }

    setEventOnButtons();
};
</script>

















